* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--sweet: hsl(7, 99%, 70%);
	--gold: hsl(51, 100%, 49%);
	--viridian: hsl(168, 34%, 41%);
	--mint: hsl(167, 44%, 70%);
	--plant: hsl(167, 40%, 24%);
	--bluemine: hsl(198, 62%, 26%);
	--ebony: hsl(212, 27%, 19%);
	--waterloo: hsl(232, 10%, 55%);
	--shuttle: hsl(213, 9%, 39%);
	--gray: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

/* General */

html, body {
	color: var(--waterloo);
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6666667;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
  color: var(--ebony);
  font-weight: 900;
  line-height: 1.25;
  margin: 0 0 1rem;
}

h1 {
	font-size: 2.111111rem;
}

h2 {
	font-size: 1.777777rem;
}

h3 {
/*	font-size: 0.8888888rem;*/
	font-size: 1.555555rem;
}

h4 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
	margin: 0 0 1.55555556em;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

/*Bootstrap bits*/
.container-fluid {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.d-none {
	display: none!important;
}

.col, .col-auto, .col-12, .col-6, .col-lg-6 {
	padding-left: 15px;
	padding-right: 15px;
}

.col-auto {
	flex-grow: 1;
}

.col-12, .col-lg-6 {
	flex: 0 0 100%;
	max-width: 100%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.btn {
	position: relative;
	display: inline-block;
	font-size: 0.888888rem;
	font-family: 'Fraunces', serif;
	font-weight: 900;
	color: var(--ebony);
	text-transform: uppercase;
	z-index: 100;
}

.btn-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.btn-link::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1px;
	height: 0.5rem;
	opacity: 0.3;
	border-radius: 1rem;
	background-color: var(--waterloo);
}

.btn-yellow::after {
	background-color: var(--gold);
}

.btn-red::after {
	background-color: var(--sweet);
}

.px-0 {
	padding-left: 0!important;
	padding-right: 0!important;
}

.text-green {
	color: var(--plant);
}

.text-blue {
	color: var(--bluemine);
}


/* Utilities */
.bkg-default {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.site-figure {
	display: block;
	width: 100%;
}

.figure-icon {
	display: block;
	width: auto;
	margin: 0 auto;
}

.figure-image {
	display: block;
	width: 100%;
}

.site-section {
	text-align: center;
}

.section-article {
	padding: 3.444444rem 1.111111rem;
}

.section-article-alt {
	position: relative;
	padding: 20rem 1rem 4.1rem;
}

.section-title {
	margin-bottom: 1.2777777rem;
}

.section-article-alt .section-text {
	font-size: 0.88888888rem;
}

.site-figure-alt {
	position: relative;
	z-index: 100;
}

/* Header*/

.site-page {
	position: relative;
}

.site-logo img {
	width: 100%;
}

.site-header {
	position: absolute;
	width: 100%;
	z-index: 2;
	padding: 1.777777rem 1.333333rem;
}

.site-menu-btn {
	border: none;
	height: 1rem;
	display: block;
	cursor: pointer;
	position: relative;
	background: transparent;
	-webkit-appearance: none;
}

.site-menu {
	position: relative;
	margin: 2.77777777777rem 0 0;
	height: 0;
	opacity: 0;
	padding: 1.333333333rem 2rem 2.1111111111rem;
	width: 100%;
	flex: 0 0 100%;
	list-style: none;
	text-align: center;
	transition: all 0.2s ease;
	background-color: var(--white);
}

.site-menu::before {
	content: '';
	position: absolute;
	top: -1.33333333rem;
	right: 0;
	border-top: 1.333333333rem solid transparent;
	border-right: 1.333333333rem solid var(--white);
}

.site-menu.show {
	opacity: 1;
	height: auto;
}

.site-menu-item {
	color: var(--waterloo);
	font-size: 1.11111111111rem;
	max-width: 8rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.8;
}

.site-menu-item:last-child {
	margin-top: 1rem;
	border-radius: 2rem;
	color: var(--ebony);
	font-size: 0.88888888888rem;
	text-transform: uppercase;
	font-family: 'Fraunces', serif;
	background-color: var(--gold);
	line-height: 3.5;
}

.site-menu-link {
	color: inherit;
	font-size: inherit;
	display: block;
	line-height: inherit;
}

/* Main */
.site-main {
	position: relative;
	z-index: 1;
}

.site-title {
	color: var(--white);
	text-align: center;
	margin-bottom: 2.666666rem;
	text-transform: uppercase;
	letter-spacing: 0.4444444rem;
}

.scroll-link {
	display: block;
	text-align: center;
}

.article-bkg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.bkg-cherry {
	background-image: url('./images/mobile/image-graphic-design.jpg');
}

.bkg-orange {
	background-image: url('./images/mobile/image-photography.jpg');
}

.article-content {
	position: relative;
	top: 2.2rem;
	z-index: 100;
	text-align: center;
}

.article-content .section-title {
	margin-bottom: 1em;
}

.section-intro {
	padding-top: 8.111111rem;
	padding-bottom: 7.5555555rem;
	background-image: url('./images/mobile/image-header.jpg');
}

.site-testimonials {
	padding-top: 3.55555555rem;
	padding-bottom: 1.1111111rem;
}

.testimonials-title {
	font-size: 0.88888888rem;
	color: var(--waterloo);
	letter-spacing: 0.2222222222rem;
	text-transform: uppercase;
	margin-bottom: 3.55555555rem;
}

.testimonial {
	padding: 0 0.5rem;
	text-align: center;
	margin-bottom: 3.722222222rem;
}

.client-avatar {
	width: 4rem;
	margin: 0 auto 1.666666667rem;
	border-radius: 100%;
}

.client-quote {
	line-height: 1.7777777777;
	margin-bottom: 1.833333333rem;
}

.client-name {
	margin-bottom: 0.5rem;
}

.client-job {
	font-size: 0.77777777rem;
	margin-bottom: 0;
}

.site-gallery-item {
	width: 100%;
}

/* Footer */
.site-footer {
	color: var(--plant);
	padding: 3.611111111rem 0 4.44444444rem;
	background-color: var(--mint);
}

.footer-logo {
	display: block;
}

.footer-logo img {
	width: 9.5rem;
	margin: 0 auto 2rem;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	justify-content: space-between;
}

.footer-menu-link {
	display: block;
	color: var(--plant);
}

.footer-nav {
	display: block;
	max-width: 16.5rem;
	margin: 0 auto 4.777777777rem;
}

.social-nav {
	display: block;
	max-width: 9.111111rem;
	margin: 0 auto;
}

/* Responsive */

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 3.0555555555rem;
	}

	h2 {
		font-size: 2.2777777777rem;
	}

	.d-lg-none {
		display: none!important;
	}

	.d-lg-block {
		display: block!important;	
	}

	.order-lg-1 {
		order: 1;
	}

	.order-lg-2 {
		order: 2;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 63.333333rem;
	}

	.ml-lg-auto {
		margin-left: auto;
	}

	.mr-lg-auto {
		margin-right: auto;
	}

	.site-page {
		margin: auto;
		max-width: 80rem;
	}

	.site-header {
		padding: 1.888888888rem 2.666666666rem 1.8888888888rem 2.22222222rem;
	}

	.site-logo {
		width: 9.44444444444rem;
	}

	.site-menu-btn {
		display: none;
	}

	.site-menu {
		opacity: 1;
		padding: 0;
		margin: 0;
		flex: 1 0 0;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background-color: transparent;
	}

	.site-menu::before {
		display: none;
	}

	.site-menu-item {
		max-width: none;
		color: var(--white);
		font-size: 1rem;
		margin: 0 2.6111111rem 0 0;
	}

	.site-menu-item:last-child {
		margin: 0;
		width: 7.77777778rem;
		background-color: var(--white);
	}

	.site-section {
		text-align: left;
	}

	.site-title {
		letter-spacing: 0.611111111rem;
		margin-bottom: 5.166666666666rem;
	}

	.section-article {
		max-width: 27rem;
	}

	.section-article.ml-lg-auto {
		margin-right: 4.16666667rem;
	}

	.section-article.mr-lg-auto {
		margin-left: 4.16666667rem;
	}

	.section-title {
		line-height: 1.21951;
		margin-bottom: 1.722222222rem;
	}

	.section-text {
		letter-spacing: -0.1px;
		margin-bottom: 2rem;
	}

	.article-content {
		text-align: center;
	}

	.section-intro {
		padding-top: 10.8888888888889rem;
		padding-bottom: 18.16666666667rem;
		background-image: url('./images/desktop/image-header.jpg');
	}

	.bkg-cherry {
		background-image: url('./images/desktop/image-graphic-design.jpg');
	}

	.bkg-orange {
		background-image: url('./images/desktop/image-photography.jpg');
	}

	.section-article-alt {
		padding-top: 19.3333333rem;
	}

	.article-content {
		top: 2.833333333rem;
		max-width: 19rem;
		margin: 0 auto;
	}

	.site-testimonials {
		text-align: center;
		padding-top: 8.88888888rem;
		padding-bottom: 5.1111111111rem;
	}

	.testimonial {
		padding: 0;
	}

	.testimonials-title {
		font-size: 1.11111112rem;
		letter-spacing: 0.25em;
		margin-bottom: 4.55555555rem;
	}

	.client-avatar {
		margin-bottom: 3.222222rem;
	}

	.client-quote {
		margin-bottom: 3.9444444rem;
	}

	.site-gallery-item {
		height: 100%;
	}

	.site-footer {
		padding: 4rem 0.666666rem 4.1111111111rem 0;
	}

	.social-nav {
		max-width: 9.66666666rem;
	}

	.footer-menu-item {
		padding-left: 0.5rem;
	}
}
